@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.careers-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.careers-container h1 {
  font-family: 'Bayon', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.careers-container h2 {
  font-family: 'Bayon', sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.careers-container p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.careers-container ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.careers-container a {
  color: #0070f3;
  text-decoration: none;
}

.careers-container a:hover {
  text-decoration: underline;
}

.careers-container .highlightsTitle a {
  color: #0DD99F;
}
